<p-card  [style]="{ width: '360px' }">
    <div class="p-card-header">
        <h2>New Student</h2>
    </div>

    <div class="p-card-body">
        <div class="p-fluid">
            <form (ngSubmit)="onSubmit()">
            <div class="p-field">
                <label for="student-name">Name</label>
                <input pInputText name="student-name" [(ngModel)]="student.studentName" type="text">
            </div>
            <br>
            <div class="p-field">
                <label for="email">Email</label>
                <input pInputText name="email" [(ngModel)]="student.studentEmail" type="text">
            </div>
            <br>
            <div class="p-field">
                <label for="job">Job</label>
                <input [required]="true" pInputText name="job" [(ngModel)]="student.studentJob" type="text">
            </div>
            <br>
            <div class="p-field">
                <label for="grade">Grade</label>
                <p-inputNumber [min]="0" name="grade" [(ngModel)]="student.studentGrade"></p-inputNumber>
            </div>
            <br>
            <div class="card flex justify-content-center">
                <label for="profile-picture">Profile Picture</label>
                <p-toast />
                <p-fileUpload 
                    mode="basic" 
                    chooseLabel="Choose" 
                    chooseIcon="pi pi-upload"
                    name="profile-picture" 
                    url="https://www.primefaces.org/cdn/api/upload.php" 
                    accept="image/*" 
                    maxFileSize="1000000"
                    [auto]="true"  
                    (onUpload)="onUpload($event)"
                     />
            </div>

            <img [src]="student.profilePictureURL" alt="">
            <br>
            <button [disabled]="toggleAddButton" type="submit" pButton>Add</button>
            </form>            
        </div>
    </div>
</p-card>