<div class="wrapper">
    <div class="login-container">
        <h1>Login</h1>
        <form>

            <p-floatLabel>
                <input id="email" type="text" pInputText />
                <label for="email">Email</label>
            </p-floatLabel>

            <p-floatLabel>
                <input id="password" type="password" pInputText />
                <label for="password">Password</label>
            </p-floatLabel>

            <p-button label="Login"></p-button>

        </form>
    </div>
</div>