<div class="wrapper">
    <div class="login-container">
        <h1>Login</h1>
        <form (ngSubmit)="onSubmit()" #form="ngForm">

            <p-floatLabel>
                <input name="email" [(ngModel)]="email" type="text" pInputText />
                <label for="email">Email</label>
            </p-floatLabel>

            <p-floatLabel>
                <input name="password" [(ngModel)]="password" type="password" pInputText />
                <label for="password">Password</label>
            </p-floatLabel>

            <p-button type="submit" [disabled]="!form.valid" label="Login"></p-button>

        </form>
    </div>
</div>