<div class="p-card">
    <div class="p-card-header">
        <h2>Student Details</h2>
    </div>
    <div class="p-card-body">
        <p-panel header="Basic Information">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="student-id">Student ID: {{realStudent.id}} </label>
                </div>
                <div class="p-field">
                    <label for="student-name">Name: {{realStudent.name}}</label>
                </div>
                <div class="p-field">
                    <label for="student-email">Email: {{realStudent.email}} </label>
                </div>
                <div class="p-field">
                    <label for="student-email">Job: {{realStudent.job!}}</label>
                </div>
                <div class="p-field">
                    <label for="student-email">Grade: {{realStudent.grade}}</label>
                </div>

            </div>
        </p-panel>

        <p-panel header="Lessons">
            <div class="p-field">
                <label for="student-email">Lessons Left: {{lessonsLeft}} </label>
                <div class="btn-area">
                    <p-button (click)="lessonManaging('+')">+</p-button>
                    <p-button [disabled]="lessonsLeft===0" (click)="lessonManaging('-')">-</p-button>
                </div>

            </div>
            <br>
            <div class="btn-area">
                <p-button label="Add Lessons" (click)="showAddPopUp()" />
                <p-dialog header="Add lessons" [modal]="true" [(visible)]="visibleAddPopUp"
                    [style]="{ width: '25rem' }">
                    <span class="p-text-secondary block mb-5">Lessons Left : {{lessonsLeft}} </span>
                    <div class="flex align-items-center gap-3 mb-3">
                        <label for="money" class="font-semibold w-6rem">Paid</label>
                        <p-inputNumber id="money" class="flex-auto" [(ngModel)]="paidMoney"
                            autocomplete="off"></p-inputNumber>
                    </div>

                    <div class="flex align-items-center gap-3 mb-3">
                        <label for="lessons" class="font-semibold w-6rem">Adding</label>
                        <p-inputNumber id="lessons" class="flex-auto" [(ngModel)]="lessonsAdded"
                            autocomplete="off"></p-inputNumber>
                    </div>

                    <div class="flex justify-content-end gap-2">
                        <p-button label="Cancel" severity="secondary" (onClick)="visibleAddPopUp = false" />
                        <p-button label="Add" (onClick)="visibleAddPopUp=false; addLessons()" />
                    </div>

                </p-dialog><p-button (onClick)="showDeletePopUp()" label="Delete Lessons" />


                <p-dialog header="Delete lessons" [modal]="true" [(visible)]="visibleDeletePopUp"
                    [style]="{ width: '25rem' }">
                    <span class="p-text-secondary block mb-5">Lessons Left : {{lessonsLeft}} </span>
                    <div class="flex align-items-center gap-3 mb-3">
                        <label for="reason" class="font-semibold w-6rem">Reason</label>
                        <input pInputText id="reason" class="flex-auto" autocomplete="off" />
                    </div>
                    <div class="flex align-items-center gap-3 mb-3">
                        <label for="lessons" class="font-semibold w-6rem">Deleting</label>
                        <p-inputNumber id="lessons" class="flex-auto" [(ngModel)]="lessonsDeleted"
                            autocomplete="off"></p-inputNumber>
                    </div>

                    <div class="flex justify-content-end gap-2">
                        <p-button label="Cancel" severity="secondary" (onClick)="visibleDeletePopUp = false" />
                        <p-button label="Delete" (onClick)="visibleDeletePopUp = false ; deleteLessons()" />
                    </div>
                </p-dialog>
            </div>

        </p-panel>

        <p-panel header="Homework">

        </p-panel>
    </div>
</div>