<div class="p-card">
    <div class="p-card-header">
        <h2>Student Details</h2>
    </div>
    <div class="p-card-body">
        <p-panel header="Basic Information">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="student-id">Student ID:</label>
                </div>
                <div class="p-field">
                    <label for="student-name">Name:</label>
                </div>
                <div class="p-field">
                    <label for="student-email">Email:</label>
                </div>
                <div class="p-field">
                    <label for="student-email">Job:</label>
                </div>
                <div class="p-field">
                    <label for="student-email">Grade:</label>
                </div>

            </div>
        </p-panel>

        <p-panel header="Lessons">
            <div class="p-field">
                <label for="student-email">Lessons Left: {{lessonsLeft}} </label>
                <br>
                <br>
                <p-button (click)="lessonManaging('+')">+</p-button>
                <p-button (click)="lessonManaging('-')">-</p-button>
            </div>
            <br>
            <p-button>Add a new package</p-button>
        </p-panel>

        <p-panel header="Homework">

        </p-panel>
    </div>
</div>